<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
<ul>
  <li>
    <%= link_to 'Webshop', shop_show_path  %>
  </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      <span class="navbar-toggler-icon"></span>
    </button>
    </li>
    <li>
      <%= "Logged in as, #{current_user.email}" %>
    </li>
  <% else %>
    <li>
      <!-- <%= link_to 'Login', new_user_session_path, class: "Navbar-brand", href: "Login" %> -->
      <a class="navbar-brand" href="#{user_session_path}">Login</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      <span class="navbar-toggler-icon"></span>
    </li>
    <li>
      <%= link_to 'Sign up', new_user_registration_path   %>
    </li>
  <% end %>
</ul>

    </ul>
  </div>
</nav>
